<!DOCTYPE HTML>
<html ng-app='app1' ng-cloak ng-init=''>
    <head>
        
        <!-- socket.io, angular, and script.js -->
        <script src='/socket.io-client/socket.io.js'></script>
        <script src='/angular/angular.min.js'></script>
        <script src='/deps/script.js'></script>
        <!-- css -->
        <link rel='stylesheet' type='text/css' href='/deps/style.css'/>

    </head>
    <body>
        <div ng-controller='ctrl1'>
            <div id='playerOptions'>
                <span class='cash'>Time: <span id='time'>{{time}}</span></span></br>
                <span class='cash'>Cash: <span id='cash'>{{player.balance}}</span></span></br>
                <span class='cash'>Bet:  <span id='currentBet'>{{player.bet}}</span></span>
                </br>
                <div ng-if='showActionsBool'>
                    <div ng-if="table.state == 'idle'">
                        <button id='bet' ng-click='bet()'>Bet</button>
                    </div>
                    <div ng-if="table.state == 'playing'">
                        <button id='hit' ng-click='hit()'>Hit</button>
                        <button id='stand' ng-click='stand()'>Stand</button>
                    </div>
                </div>
            </div>

            <button ng-if='showJoinBool' id='join' ng-click='joinTable()'>Join</button>
            <button ng-if='!showJoinBool' id='leave' ng-click='leaveTable()'>Leave</button>

            <!-- Dealer Section -->
            <div style='margin-left:-100px;'>
                <div style='text-align: center'>
                    <div style='display: inline-block;'>
                        <div class='dealerName'>
                            Dealer
                        </div>
                    </div>
                </div>
                <div style='text-align: center'>
                    <div style='display: inline-block;'>
                        <div class='dealerScore' id='_dealerScore'>
                            {{table.dealerScore}}
                        </div>
                    </div>
                </div>
                <center>
                    <div class='dealerSlot' id='_dealerSlot'>
                        <div style='height: 135px'> <!-- im a filler div :) --> </div>
                        <img ng-repeat='card in table.dealerHand' style='width:100px;height:145px;margin-top: -135px' ng-src='{{getCardPath(card)}}'>
                    </div>
                </center>
                <!-- Player Section -->
                <div style='margin-top:200px;text-align: center'>
                    <div style='display: inline-block;'>
                        <div ng-repeat='player in table.activePlayers' class='playerName' id='_name{{player.id}}'>
                            {{player.nickname}}
                            <div class='cash'>
                                Bet: {{player.bet}} </br> 
                                Cash: {{player.balance}} 
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div style='text-align: center'>
                    <div style='display: inline-block;'>
                        <div ng-repeat='player in table.activePlayers' class='playerScore' id='_score{{player.id}}'>
                            {{player.score}}
                        </div>
                    </div>
                </div>
                <div style='text-align: center'>
                    <div id='cardHolder' style='display: inline-block;'>
                        <div ng-repeat='player in table.activePlayers' class='playerSlot' id='_slot{{player.id}}'>
                            <div style='height: 135px'> <!-- im a filler div :) --> </div>
                            <img ng-repeat='card in player.hand' style='width:100px;height:145px;margin-top: -135px' ng-src='{{getCardPath(card)}}'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
